<h1>Welcome to Idea Box</h1>
<section id="search">
  <input type="text" placeholder="filter ideas" id="search-bar">
</section>

<section id="ideas">
</section>

<section id="new_idea">
  <h3>new idea</h3>
  <form id="new_idea">
    <div class="form-group">
      <label>title</label>
      <input id="new-title"></input>
    </div>
    <div class="form-group">
      <label>body</label>
      <input id="new-body"></input>
    </div>
    <div class="form-group">
      <button id="submit">create</button>
    </div>
  </form>
</section>
