<h1>Welcome to Idea Box</h1>
<section id="search">
  <%= form_tag(api_v1_ideas_path, :method => "get", id: "search-bar") do %>
    <%= text_field_tag :search, params[:search], placeholder: "idea title" %>
    <%= button_tag("submit") %>
  <% end %>
</section>
<section id="ideas">
</section>

<section id="new_idea">
  <h3>new idea</h3>
  <form id="new_idea">
    <div class="form-group">
      <label>title</label>
      <input id="new-title"></input>
    </div>
    <div class="form-group">
      <label>body</label>
      <input id="new-body"></input>
    </div>
    <div class="form-group">
      <label>quality</label>
      <input id="new-quality"></input>
    </div>
    <div class="form-group">
      <button id="submit">create</button>
    </div>
  </form>
</section>
